<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="encoding" value="${mdh.logging.file.encoding}"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%X{traceId},%X{spanId}] %c - %m%n"/>
    </layout>
  </appender>

  <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="\${user.home}/logs/${project.artifactId}/${project.artifactId}.log"/>
    <param name="datePattern" value="'.'yyyy-MM-dd"/>
    <param name="encoding" value="${mdh.logging.file.encoding}"/>
    <param name="threshold" value="${mdh.logging.file.level}"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%X{traceId},%X{spanId}] %c - %m%n"/>
    </layout>
  </appender>

  <appender name="email" class="org.apache.log4j.net.SMTPAppender">
    <param name="SMTPHost" value="mail.mdh.se"/>
    <param name="From" value="${project.groupId}.drift@mdh.se"/>
    <param name="To" value="${project.groupId}.drift@mdh.se"/>
    <param name="Subject" value="[${project.artifactId}] Ett fel har skett"/>
    <param name="threshold" value="${mdh.logging.email.level}"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%X{traceId},%X{spanId}] %c - %m%n"/>
    </layout>
  </appender>

  <logger name="${project.groupId}">
    <level value="${mdh.logging.product.level}"/>
  </logger>

  <root>
    <priority value="info"/>
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
    <appender-ref ref="email"/>
  </root>
</log4j:configuration>
